body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
};

#quiz-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-top: 0;
    color: #333;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #9900ff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #be5eff;
}

input[type="text"] {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#submit-score-btn {
    background-color: #9900ff;
}

#timer {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}

#view-high-scores-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #9900ff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#view-high-scores-btn:hover {
    background-color: #be5eff;
}